@import '../../../../styles/variables';

.wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  margin-top: 3rem !important;
  margin-bottom: 5rem !important;
  gap: 3rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__title {
    @include h3;
  }

  &__description {
    @include p2;
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;

    &__item {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      &__icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      &__text {
        @include p3;
      }
    }
  }
}

.form {
  padding: 2rem 0.75rem;
  box-shadow: 0 0.15rem 0.6rem #1414231A;
  border-radius: 1rem;

  &__title {
    @include p3;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;

    &__button-spinner {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-top: 0.35rem;

      &__button {
        background-color: $colorAccent;
      }

      &__spinner {
        justify-self: center;
      }
    }

    &__server-response {
      @include h3;
      color: $colorAccent;

      &--error {
        color: $colorAccent2;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 0;
    gap: 4.5rem;
  }

  .details {
    margin-top: 2rem;
    max-width: 21rem;
  }
}
