.centered {
    z-index: 2;
    max-width: 31.8rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.large {
    max-width: 58.5rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1000px) {
    .centered {
        padding: 0 1.26rem;
    }
}