@import '../../components/__helpers/all.scss';

.together {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.6rem;
    height: 1.6rem;
    margin:  2rem auto 4.6rem auto;
    background-color: $colorRed;
    border-radius: 0.8rem;
    font-size: 20px;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: $colorBlue;
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2rem;
    background-color: $colorRed;
    border-radius: 1rem;
    font-size: 20px;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: $colorBlue;
    }
}

@media screen and (max-width:660px) {
    .together {
        width: 6.66rem;
        height: 1.33rem;
        font-size: 16px;
        margin: 2.73rem auto;
    }
}