@import 'helpers/styles/variables';

.wrapper {
  padding: 0 1.5rem;
  min-height: $fullScreenMinHeightMobile;
  box-sizing: border-box;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    min-height: $fullScreenMinHeightDesktop;
    max-width: 68rem;
    padding: 2rem 3rem;
    margin: 0 auto;
  }
}
