@import '../../../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  overflow: hidden;
}

.title {
  @include container;
  @include h2;
  color: $colorMain;
  text-align: center;
}

.reviews-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.reviews {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
  overflow: scroll;

  & > .review:last-child {
    margin-right: 0.5rem;
  }
}

.arrow-button {
  position: absolute;
  display: none;
  top: 45%;

  &--left {
    left: -1.5rem;
  }

  &--right {
    transform: rotateY(180deg);
    right: -1.5rem;
  }
}

@media screen and (min-width: 1080px) {
  .wrapper {
    @include container;
    margin-top: 5rem;
  }

  .reviews-wrapper {
    @include container;
    padding-top: 0 !important;
  }

  .reviews {
    margin-top: 0;
    gap: 2rem;
    overflow: hidden;
  }

  .arrow-button {
    display: flex;
  }
}
