@import 'helpers/styles/variables';

.wrapper {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $headerHeightDesktop;
  background-color: $colorMain2;
}

.logo-button {

  &__icon {
    fill: $colorMain;
  }

  &:hover &__icon {
    fill: $colorAccent2;
  }
}

.main-links {
  display: flex;
  gap: 1rem;
}

.secondary-links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
