@import 'helpers/styles/variables';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background-color: red;
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.logo-button {
  &:hover &__icon {
    fill: $colorAccent2;
  }
}

.main-links {
  display: flex;
  gap: 1rem;

  &__item {
    @include h3;
    padding: 0.5rem;
    color: $colorMain;

    &:hover {
      color: $colorAccent3;
    }

    &--active {
      color: $colorAccent2;
    }
  }
}

.secondary-links {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  &__language {
    padding: 0.5rem;
    color: $colorMain;
    @include h3;

    &:hover {
      color: $colorAccent3;
    }
  }

  &__contact {
    padding: 0.7rem 1.6rem;
    border-radius: 0.5rem;
    background-color: $colorMain;
    color: $colorMain2;
    @include h3;

    &:hover {
      background-color: $colorAccent3;
    }
  }
}
