.images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 31.8rem;
    margin: 0 auto 4rem auto;
    width: 100%;
    gap: 1.4rem;
}

.image {
    position: relative;
    width: 100%;
    height: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}