@import '../__helpers/all.scss';

.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
}

.image {
    width: 13.33rem;
    height: 13.33rem;
    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    width: 18.96rem;

    &_title {
        color: $colorRed;
        font-family: $fontExtraBold;
    }

    &_para {
        margin-top: 2.5rem;
        font-size: 21px;
        color: $colorBlue;
        font-family: $fontMedium;

        & > div:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        &_link {
            color: $colorRed;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: $colorRed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 2em;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        background-color: $colorBlue;
        color: white;
    }
}

@media screen and (max-width: 1100px) {

    .about {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 4rem;
    }

    .image {
        border-radius: 50%;
        margin: 0 1rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1.3rem 0 1.3rem;
        height: 100%;
        width: 100%;
        max-width: 31.8rem;

        &_title {
            margin-top: 1rem;
            text-align: center;
        }

        &_para {
            margin: 2rem auto 0 auto;
            font-size: 20px;
        }
    }

    .button {
        width: 6.66rem;
        height: 1.33rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 16px;
    }
}

@media screen and (max-width: 660px) {
    .about {
        margin-top: 1rem;
    }

    .image {
        width: 80%;
        height: auto;
    }

    .text {
        width: 100%;

        &_title {
            margin: 0;
            font-size: 25px;
        }

        &_para {
            margin-top: 1rem;
            font-size: 16px;

            & > div:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}
