@import '../../components/__helpers/all.scss';

.thankyou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: $colorRed;
    gap: 1.16rem;

    &_title {
        font-size: 50px;
    }

    &_text {
        font-size: 35px;
    }
}

@media (max-width: 700px) {
    .thankyou {
        gap: 0.95rem;
        text-align: center;
    
        &_title {
            font-size: 30px;
        }
    
        &_text {
            font-size: 16px;
        }
    }
}