@import 'styles/variables';

@mixin onTop {
  z-index: 4;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.8rem;
  transition: all ease-in-out 300ms;
}

@mixin item {
  display: grid;
  place-content: center;
  background-color: rgba($colorAccent4, 0.9);
  padding: 0.2rem 0.45rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 6px #14142380;
}

.wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 0.15rem 0.6rem #1414231A;

  &--skeleton {
    height: 12.89335rem;
    border-radius: 0.5rem;
    padding: 0.8rem;
  }
}

.skeleton {
  &__name {
    transform: translate(0, 0);
    width: 5rem;
    height: 1.35rem;
  }

  &__pro {
    transform: translate(78%, 0);
    width: 6rem;
    height: 1.35rem;
  }

  &__date {
    transform: translate(0, 1.8rem);
    width: 2.9rem;
    height: 1.2rem;
  }

  &__description {
    transform: translate(0, 9.7rem);
    width: 100%;
    height: 1.42rem;
  }
}

.header {
  @include onTop;
  top: 0;

  &__item {
    @include item;
    @include h3;
    font-size: 12px;

    &--pro {
      background-color: $colorAccent;
    }
  }
}

.date {
  @include onTop;
  top: 1.8rem;

  &__item {
    @include item;
    @include p4;
    font-size: 10px;
  }
}

.carousel {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 12.89335rem;
  box-sizing: border-box;

  &__item {
    @include h3;
    color: $colorMain;
    text-align: center;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
}

.hide-div {
  opacity: 0 !important;
}

.hide-button {
  visibility: hidden !important;
}

.button {
  visibility: visible;
  position: absolute;
  top: 40%;
  z-index: 4;
  transition: all ease-in-out 0.3s;

  &--left {
    left: 1rem;
  }

  &--right {
    right: 1rem;
    transform: rotateY(180deg);
  }
}

.description {
  @include onTop;
  bottom: 0 !important;
  justify-content: center;

  &__item {
    @include item;
    @include p2;
    text-align: center;
    font-size: 12px;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    min-width: 14rem;
    /*max-width: 21.6rem;*/
    transition: all ease-in-out 0.3s;

    &:hover {
      transform: scale(1.05);

      .header, .date, .button, .description {
        opacity: 1;
      }
    }
  }

  .header, .date, .button, .description {
    opacity: 0;
    transition: all ease-in-out 0.3s;
  }

  .footer {
    &__date {
      font-size: 12px;
    }
  }
}
