@import '../../components/helpers/all.scss';

.legal{
    margin-top: 1rem;
    padding: 0 1.5rem;

    &:last-of-type {
        margin-bottom: 2rem;
    }
}

.title {
    margin-top: 1rem;
    font-family: 'Futura PT Bold';
    font-size: 20px;
    color: $colorBlue;
}

.subtitle {
    margin-top: 1rem;
    font-family: 'Futura PT Heavy';
    font-size: 18px;
    color: $colorBlue;
    text-indent: 1rem;
}

.para {
    text-indent: 0;
    font-family: 'Futura PT Demi';
    margin-top: 1rem;
    color: $colorBlue;
    font-size: 16px;
}