@import 'helpers/styles/variables';

.container {
  background-color: $colorAccent;
}

.wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  gap: 2.5rem
}

.title {
  @include h2;
  text-align: center;
  color: $colorMain2;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      @include h3;
      color: $colorMain2;
      margin-top: 1rem;
    }

    &__description {
      @include p1;
      margin-top: 2.5rem;
      color: $colorMain2;
    }
  }
}


@media screen and (min-width: 1000px) {
  .container {
    min-height: 0;
  }

  .services {
    flex-direction: row;
  }
}
