@import '../components/Helpers/all.scss';

.legal{
    margin-top: 1rem;

    &:last-of-type {
        margin-bottom: 2rem;
    }
}

.title {
    margin-top: 1rem;
    font-family: $fontBold;
    font-size: 20px;
    color: $colorBlue;
}

.subtitle {
    margin-top: 1rem;
    font-family: $fontHeavy;
    font-size: 18px;
    color: $colorBlue;
    text-indent: 1rem;
}

.para {
    text-indent: 0;
    font-family: $fontDemi;
    margin-top: 1rem;
    color: $colorBlue;
    font-size: 16px;
}
