@import 'styles/variables';

.ServicesPage {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.linkToProjects {
  display: flex;
  margin: 0 auto 2rem auto;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.downloadDescription {
  @include h3;
  color: $colorMain2;
  text-align: center;
}

.downloadButton {
  margin: 0 auto;
}


@media screen and (min-width: 1000px) {
  .ServicesPage {
    gap: 9rem;
  }
}
