@import '../../components/helpers/all.scss';

.presentation {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.squares {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
    height: 15rem;
    padding: 1rem 0;
    border: solid 0.3rem $colorRed;
    color: $colorBlue;


    &_logo {
        height: 2rem;
        width: 2rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &_description {
        font-family: $fontMedium;
        text-align: center;
        font-size: 22px;
    } 
}

@media screen and (max-width: 1345px) {
    .square:not(:last-child) {
        border-right: 0;
    }
}

@media screen and (max-width: 850px) {
    .presentation {
        margin: 0 1.5rem;
        padding-top: 0;
    }

    .squares {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }

    .square { 
        width: 100%;
        border: none;
        height: 13rem;
        border-top: solid 0.15rem $colorRed;

        &:last-child {
            border-bottom: solid 0.15rem $colorRed;
        }
        
        &_title {
            font-size: 26px;
        }
    }
}