@import 'helpers/styles/variables';

.wrapper {
  @include container;
  @include fullPage;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
