@import '../../styles/variables';

.wrapper {
  @include container;
  @include fullPage;
  display: flex;
  /*min-height: $fullScreenMinHeightMobile;*/
  flex-direction: column;
  align-items: center;
}

.logo-color-one {
  fill: $colorAccent;

  &--alt {
    fill: $colorAccent2;
  }
}

.logo-color-two {
  fill: $colorAccent2;

  &--alt {
    fill: $colorAccent;
  }
}

.title {
  @include h2;
  margin-top: 1rem;
}

.description {
  @include p1;
  margin-top: 2.5rem;
  text-align: center;
}

.button {
  margin-top: 5rem;
  margin-bottom: 6.5rem;
}

@media screen and (min-width: 1000px) {
  /*.wrapper {
    min-height: $fullScreenMinHeightDesktop;
  }*/
}
