@import '../../../styles/variables';

.footer {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  gap: 2rem;

  &_question {
    color: $colorMain;
    @include h2;
  }

  &_link {
    display: flex;
  }

}
