@import '../../components/Helpers/all.scss';

.merci {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    color: $colorBlue;
    margin: 7.46rem 0;

    &_title {
        font-size: 50px;
    }

    &_text {
        margin-top: 0;
    }
}

@media screen and (max-width: 850px) {

    .merci {
        margin: 3.63rem 0;

        &_title {
            font-size: 30px;
        }

        &_text {
            font-size: 25px;
            margin-top: 0;
        }
    }
}
